@if(username){
<h2 class="text-xl my-2">Steam</h2>
<section class="grid gap-2 grid-cols-3 md:grid-cols-6">

    @for(item of list; track $index){
    <div class="bg-gray-800 text-white border border-gray-700 rounded shadow p-2 grid gap-1 grid-cols-1">

        <a [href]="item.steam_url" target="_blank" class="flex justify-center aspect-video overflow-hidden rounded">
            <img class="w-full h-full object-cover" [src]="item.img" (error)="onImageError($event)" loading="lazy"
                alt="product image">
        </a>

        <a [href]="item.steam_url">
            <h5 class="text-xl font-semibold tracking-tight text-white max-h-[3.5rem] overflow-hidden"
                [title]="item.name">{{item.name}}</h5>
        </a>

        <div>{{item.price}}</div>

        <a [href]="item.steam_url" target="_blank" class="
            bg-gray-700 font-medium rounded-lg text-center p-2 mt-auto
            flex flex-col align-center justify-center
            text-white text-xs
            hover:bg-blue-700 hover:text-white
        ">Steam</a>

        <a [href]="item.instant_gaming_url" target="_blank" class="
            bg-gray-700 font-medium rounded-lg text-center p-2
            flex flex-col align-center justify-center
            text-white text-xs
            hover:bg-orange-700 hover:text-white
        ">Instant gaming</a>


    </div>
    }

    @if(loading){
    @for(item of [1,2,3,4,5,6]; track $index){
    <div class="animate-pulse bg-gray-800 border border-gray-700 rounded shadow p-2 grid gap-1 grid-cols-1">

        <div class="aspect-video bg-gray-700 rounded"></div>

        <div class="h-2 rounded w-20 bg-gray-700"></div>

        <div class="h-5 rounded bg-gray-700"></div>
        <div class="h-5 rounded bg-gray-700"></div>

    </div>
    }
    }

</section>
}