<div tabindex="-1" aria-hidden="true" class="fixed left-0 top-0 z-50 w-full p-4 md:inset-0 h-full flex bg-gray-900/50 overflow-auto">
    <div [class]="'max-h-full w-full m-auto max-w-'+maxWidth">
        <!-- Modal content -->
        <div class="rounded-lg bg-white shadow">
            <!-- Modal header -->
            <div class="flex items-start justify-between rounded-t border-b p-5">
                <h3 class="text-xl font-semibold text-gray-900 lg:text-2xl">
                    {{customTitle}}
                </h3>
                <button type="button"
                    class="ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900"
                    (click)="closeModal()">
                    <i class="fa-solid fa-xmark h-5 w-5"></i>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6">
                <ng-content></ng-content>
            </div>
            <!-- Modal footer -->
            <div class="flex space-x-2 rounded-b border-t border-gray-200 p-6">
                <button type="button"
                    class="ml-auto rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-900 focus:z-10 focus:outline-none focus:ring-4 focus:ring-blue-300"
                    (click)="closeModal()">
                    Cancelar
                </button>

                <button type="button"
                    class="rounded-lg bg-primary px-5 py-2.5 text-center text-sm font-medium text-secondary hover:bg-secondary hover:text-primary hover:ring-primary focus:outline-none ring-1 ring-secondary"
                    (click)="acceptModal()">
                    Aceptar
                </button>
            </div>
        </div>
    </div>
</div>