@if(amazonWishlistId){

<section class="flex mb-2">

    <a class="text-xl my-2" [href]="'https://www.amazon.es/hz/wishlist/ls/'+amazonWishlistId" target="_blank"
        rel="noopener noreferrer">
        <fa-icon [icon]="['fab', 'amazon']"></fa-icon>
        Amazon
    </a>

    @if(isLogged){
    <button
        class="group ml-auto px-4 py-2 bg-white/70 hover:bg-white/90 backdrop-blur-sm border border-gray-200/50 text-gray-600 hover:text-gray-800 transition-all duration-200 font-medium rounded-xl flex items-center gap-2"
        (click)="refresh()">
        <fa-icon [icon]="['fas', 'rotate']"
            [classes]="['group-hover:duration-500 group-hover:rotate-180 group-hover:transition-transform']"></fa-icon>
        Refrescar Productos
    </button>
    }

</section>

<section class="grid gap-2 grid-cols-3 md:grid-cols-{{itemsPerRow}}">

    <!-- Loading Cards -->
    @if(loading){
    @for(item of [].constructor(6); track $index){
    <div class="animate-pulse bg-white border border-gray-200 rounded-xl shadow-sm p-3">
        <div class="aspect-square bg-gray-200 rounded-lg mb-2"></div>
        <div class="h-2 rounded w-20 bg-gray-200 mb-2"></div>
        <div class="space-y-1">
            <div class="h-4 rounded bg-gray-200"></div>
            <div class="h-4 rounded bg-gray-200"></div>
        </div>
    </div>
    }
    <!-- Loading Cards END -->

    } @else {

    <!-- Products list -->
    @for(counter of [].constructor(list.length>6 && showMore ? 6 : list.length); track $index){

    <!-- See more button -->
    @if($index == 5 && list.length == 7 && showMore){

    <a [routerLink]="['/list', uuidList, 'amazon']"
        class="h-full bg-white bg-opacity-60 rounded-xl flex flex-col items-center justify-center text-orange-800 hover:scale-[1.02] transition-transform">
        <fa-icon [icon]="['fas', 'plus']" class="text-2xl mb-2"></fa-icon>
        <span class="text-sm font-medium">Ver más</span>
    </a>

    <!-- See more button END -->

    }@else{

    <app-card [principalUrl]="list[$index].amazon_url" [img]="list[$index].img" [name]="list[$index].name"
        [price]="list[$index].price" [count]="list[$index].count" principalLabelString="Amazon"
        [isReserved]="list[$index].is_reserved" [isLogged]="isLogged"
        (toggleReserve)="reserveGame(list[$index].id)"></app-card>
    }

    }
    <!-- Products list END -->

    }

</section>

}