@if(amazonWishlistId){

<section class="flex mb-2">

    <a class="text-xl my-2" [href]="'https://www.amazon.es/hz/wishlist/ls/'+amazonWishlistId" target="_blank"
        rel="noopener noreferrer">
        <fa-icon [icon]="['fab', 'amazon']"></fa-icon>
        Amazon
    </a>

    @if(isLogged){
    <button class="group/steam ml-auto bg-gray-800 border border-gray-700 p-2 rounded" (click)="refresh()">
        <fa-icon [icon]="['fas', 'rotate']"
            [classes]="['group-hover/steam:duration-500 group-hover/steam:rotate-180']"></fa-icon> Refrescar Productos
    </button>
    }

</section>

<section class="grid gap-2 grid-cols-3 md:grid-cols-6">

    @if(loading){
    @for(item of [].constructor(6); track $index){
    <div class="animate-pulse bg-gray-800 border border-gray-700 rounded shadow p-2 grid gap-1 grid-cols-1">

        <div class="aspect-square bg-gray-700 rounded"></div>

        <div class="h-2 rounded w-20 bg-gray-700"></div>

        <div class="h-5 rounded bg-gray-700"></div>
        <div class="h-5 rounded bg-gray-700"></div>

    </div>
    }
    } @else {
    @for(item of list; track $index){
    <div class="bg-gray-800 text-white border border-gray-700 rounded shadow p-2 grid gap-1 grid-cols-1">

        <a [href]="item.amazon_url" target="_blank" class="flex justify-center aspect-square overflow-hidden rounded">
            <img class="w-full h-full object-cover" [src]="item.img" (error)="onImageError($event)" loading="lazy"
                alt="product image">
        </a>

        <a [href]="item.amazon_url" target="_blank">
            <h5 class="text-xl font-semibold tracking-tight text-white max-h-[3.5rem] overflow-hidden"
                [title]="item.name">{{item.name}}</h5>
        </a>

        <a [href]="item.amazon_url" target="_blank">
            {{item.price}}
        </a>

        <a [href]="item.amazon_url" target="_blank" class="
            bg-gray-700 font-medium rounded-lg text-center p-2
            flex flex-col align-center justify-center
            text-white text-xs
            hover:bg-orange-700 hover:text-white
        ">Amazon</a>

    </div>
    }
    }
</section>
}