<section>
    <h1 class="text-2xl">Entra con tus redes sociales</h1>
    <section class="grid grid-cols-2 gap-4">

        <button (click)="loginWithGoogle()"
            class="flex items-center justify-center gap-2 bg-white text-gray-800 hover:bg-gray-200 rounded-lg p-2">
            <fa-icon [icon]="['fab', 'google']"></fa-icon>
            <p>Google</p>
        </button>

        <button (click)="loginWithFacebook()"
            class="flex items-center justify-center gap-2 bg-white text-gray-800 hover:bg-gray-200 rounded-lg p-2">
            <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
            <p>Facebook</p>
        </button>

    </section>
</section>