<header class="flex flex-wrap items-center p-3 gap-5 border-b bg-gray-100 bg-opacity-75 text-black">

    <a routerLink="/" class="mr-auto text-black flex justify-center gap-2">
        <img src="\assets\icon\logo.svg" class="w-6 h-6" alt="Logo de la web, lista de deseos" />
        Lista de deseos
        <span class="max-h-max bg-blue-500 text-white text-xs px-2 py-1 rounded-lg rotate-45 -translate-x-3 -translate-y-1 scale-75">
            BETA
        </span>
    </a>

    <a routerLink="/contact" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="text-white"
        class="hover:text-white" title="Contáctanos">
        <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
        <p class="hidden md:inline-block ml-1">Contacto</p>
    </a>

    @if(isLogged){

    <a routerLink="/list" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="text-white"
        class="hover:text-white" title="Contáctanos">
        <fa-icon [icon]="['fas', 'list']"></fa-icon>
        <p class="hidden md:inline-block ml-1">Mis listas</p>
    </a>

    <label class="flex items-center gap-2 relative">

        <input type="checkbox" class="peer hidden" />

        <span role="button" class="hover:text-white peer-checked:text-white">
            <fa-icon [icon]="['fas', 'user']"></fa-icon>
            <p class="hidden md:inline-block ml-1 capitalize">{{username}}</p>
        </span>

        <div class="peer-checked:block hidden fixed w-full h-full top-0 left-0"></div>

        <div
            class="peer-checked:block text-sm hidden absolute overflow-hidden top-7 right-0 z-10 w-56 divide-y divide-gray-500 rounded-md bg-gray-700 text-gray-300 ring-1 ring-gray-500">

            <div class="py-2 px-4 text-xs text-gray-400 bg-gray-800">
                <p>{{fullname}}</p>
                <small>({{username}})</small>
            </div>

            <div class="flex flex-col py-3 gap-3">
                <a routerLink="/list" class="block px-4 hover:underline">Mis listas</a>
            </div>

            <div (click)="logout()" class="px-4 py-2 hover:text-red-600 transition-colors" role="button"
                title="Cerrar sesión">
                <fa-icon [icon]="['fas', 'arrow-right-from-bracket']"></fa-icon>
                <p class="inline-block ml-1">Cerrar sesión</p>
            </div>

        </div>
    </label>

    }@else{
    <a routerLink="/login" class="hover:text-green-600" title="Iniciar sesión">
        <fa-icon [icon]="['fas', 'right-to-bracket']"></fa-icon>
        <p class="hidden md:inline-block ml-1">Iniciar sesión</p>
    </a>
    }

    @if(isAdmin){
    <section class="w-full flex gap-5">

        <a routerLink="/" class="mr-auto">
            <fa-icon [icon]="['fas', 'crown']"></fa-icon>
            Admin mode
        </a>

        <a routerLink="/contact/list" routerLinkActive="text-blue-600" class="hover:text-blue-600" title="Contacts">
            <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
            <p class="hidden md:inline-block ml-1">Contactos</p>
        </a>

        <a routerLink="/user" routerLinkActive="text-blue-600" class="hover:text-blue-600" title="User">
            <fa-icon [icon]="['fas', 'user']"></fa-icon>
            <p class="hidden md:inline-block ml-1">Usuarios</p>
        </a>

    </section>
    }

</header>