  @keyframes header-animation {
    from {
      max-width: 100%;
    }
    to {
      top: 1rem;
      width: calc(100% - 2rem);
      border-radius: 1.5rem;
      border-width: 0.15rem;
      max-width: 64rem; /* max-w-5xl */
      margin-left: auto;
      margin-right: auto;
      margin-top: 0.5rem
    }
  }
  header {
    animation: header-animation linear both;
    animation-timeline: scroll(root);
    animation-range: 0 200px;
  }