<app-loading *ngIf="loading"></app-loading>
<main class="flex flex-col gap-2 p-2">

    @if(isLogged){

    <header class="flex flex-col gap-2">

        <button class="ml-auto bg-gray-800 border border-gray-600 p-2 rounded col-span-3 md:col-span-6"
            (click)="toggleModalWishList()">Añadir nueva lista</button>

        <section class="grid grid-cols-3 md:grid-cols-6 gap-2">
            @for(item of allWishList; track $index){
            <a [routerLink]="['/list', username, item.name]" class="bg-gray-700 p-2 rounded">
                {{item.name??'Principal'}}
            </a>
            }
        </section>

    </header>

    <hr>

    }

    <section class="flex items-center gap-2">
        <h1 class="text-xl">{{wishlist.name??'Principal'}}</h1>
        <button (click)="toggleModalWishList(wishListId)">Ajustes</button>
        <a class="text-xs underline" [href]="'https://'+getwishListUrl()">{{getwishListUrl()}}</a>


        @if(isLogged){
        <button class="ml-auto bg-gray-800 border border-gray-700 p-2 rounded" (click)="toggleModalProduct()">Añadir
            nuevo producto</button>
        }
    </section>

    <section class="grid gap-2 grid-cols-3 md:grid-cols-6">

        @for(item of wishlist.products; track $index){
        <div class="bg-gray-800 text-white border border-gray-700 rounded shadow p-2 grid gap-1 grid-cols-1">

            <a [href]="item.url_product" target="_blank"
                class="flex justify-center aspect-video overflow-hidden rounded">
                <img class="w-full h-full object-cover" [src]="item.url_preview" (error)="onImageError($event)"
                    loading="lazy" alt="product image">
            </a>

            <a [href]="item.url_product">
                <h5 class="text-xl font-semibold tracking-tight text-white max-h-[3.5rem] overflow-hidden"
                    [title]="item.name">{{item.name}}</h5>
            </a>

            <div>{{item.price}}</div>

            <a [href]="item.url_product" target="_blank" class="
                bg-gray-700 font-medium rounded-lg text-center p-2 mt-auto
                flex flex-col align-center justify-center
                text-white text-xs
                hover:bg-blue-700 hover:text-white
            ">Comprar</a>

        </div>
        }

    </section>

    <app-steam [username]="wishlist.steam_username"></app-steam>

</main>

@if(modalProductOpen && wishListId){
<app-product-form [wishListId]="wishListId" (closeFunction)="toggleModalProduct()"
    (acceptFunction)="productUpdate($event)"></app-product-form>
}

@if(modalWishListOpen){
<app-wishlist-form [id]="wishListFormId" (closeFunction)="toggleModalWishList()"
    (acceptFunction)="wishlistUpdate(wishListFormId, $event)"></app-wishlist-form>
}