<app-loading *ngIf="loading"></app-loading>
<main class="flex flex-col gap-2 p-2">

    @if(isLogged){

    <header class="flex flex-col gap-2">

        <button class="ml-auto bg-gray-800 border border-gray-600 p-2 rounded col-span-3 md:col-span-6"
            (click)="toggleModalWishList()">Añadir nueva lista</button>

        <section class="grid grid-cols-3 md:grid-cols-6 gap-2">
            @for(item of allWishList; track $index){
            <div
                [class]="'flex items-center bg-gray-700 rounded border' + (item.id === wishListId ? ' border-gray-400' : ' border-transparent')">
                <a [routerLink]="['/list', item.uuid]" class="w-full p-2">
                    {{item.name}}
                </a>
                @if(allWishList.length > 1 && item.id != wishListId){
                <small (click)="deleteWishList(item.id)"
                    class="h-full p-3 flex items-center border-l-4 border-dashed border-gray-800 hover:text-red-700 transition"
                    role="button">
                    <fa-icon [icon]="['fas', 'trash-can']"></fa-icon>
                </small>
                }
            </div>
            } @empty {
            @for(item of [].constructor(6); track $index){
            <div class="animate-pulse bg-gray-700 p-2 rounded border border-transparent h-10"></div>
            }
            }
        </section>

    </header>

    <hr>

    }

    <section class="flex items-center gap-2">
        <h1 class="text-xl">{{wishlist.name}}</h1>

        @if(isLogged){
        <button class="group/wishlist_settings" (click)="toggleModalWishList(wishListId)" title="Ajustes">
            <fa-icon [icon]="['fas', 'gear']"
                [classes]="['duration-300 group-hover/wishlist_settings:rotate-45']"></fa-icon>
        </button>
        }

        <section [cdkCopyToClipboard]="getwishListUrl()" title="Copiar al portapapeles" role="button"
            class="fixed bottom-10 right-10 text-gray-800 bg-gray-500 rounded py-1 px-3 group">

            <p class="hidden group-hover:inline-block">
                {{getwishListUrl()}}
                <fa-icon [icon]="['fas', 'copy']" class="ps-2"></fa-icon>
            </p>

            <fa-icon class="group-hover:hidden" [icon]="['fas', 'share-nodes']"></fa-icon>
        </section>

        @if(isLogged){
        <button class="ml-auto bg-gray-800 border border-gray-700 p-2 rounded" (click)="toggleModalProduct()">
            Añadir nuevo producto
        </button>
        }
    </section>

    <section class="grid gap-2 grid-cols-3 md:grid-cols-6">

        @for(item of wishlist.products; track $index){
        <div class="bg-gray-800 text-white border border-gray-700 rounded shadow p-2 grid gap-1 grid-cols-1">

            <a [href]="item.url_product" target="_blank"
                class="flex justify-center aspect-video overflow-hidden rounded">
                <img class="w-full h-full object-cover" [src]="item.url_preview" (error)="onImageError($event)"
                    loading="lazy" alt="product image">
            </a>

            <a [href]="item.url_product">
                <h5 class="text-xl font-semibold tracking-tight text-white max-h-[3.5rem] overflow-hidden"
                    [title]="item.name">{{item.name}}</h5>
            </a>

            <div>{{item.price}}</div>

            <a [href]="item.url_product" target="_blank" class="
                bg-gray-700 font-medium rounded-lg text-center p-2 mt-auto
                flex flex-col align-center justify-center
                text-white text-xs
                hover:bg-blue-700 hover:text-white
            ">Comprar</a>

        </div>
        } @empty {
        @for(item of [].constructor(12); track $index){
        <div class="-z-10 animate-pulse bg-gray-800 border border-gray-700 rounded shadow p-2 grid gap-1 grid-cols-1">

            <div class="aspect-video bg-gray-700 rounded"></div>

            <div class="h-2 rounded w-20 bg-gray-700"></div>

            <div class="flex gap-1">
                <div class="h-5 w-full rounded bg-gray-700"></div>
                <div class="h-5 w-full rounded bg-gray-700"></div>
            </div>

        </div>
        }
        }

    </section>

    <app-steam [username]="wishlist.steam_username" [wishlistId]="wishlist.id"></app-steam>

    <app-amazon [amazonWishlistId]="wishlist.amazon_wishlist_id" [wishlistId]="wishlist.id"></app-amazon>

</main>

@if(modalProductOpen && wishListId){
<app-product-form [wishListId]="wishListId" (closeFunction)="toggleModalProduct()"
    (acceptFunction)="productUpdate($event)"></app-product-form>
}

@if(modalWishListOpen){
<app-wishlist-form [id]="wishListFormId" (closeFunction)="toggleModalWishList()"
    (acceptFunction)="wishlistUpdate(wishListFormId, $event)"></app-wishlist-form>
}