<app-custom-modal customTitle="Nueva lista de deseos" (closeFunction)="closeFormFunction()" (acceptFunction)="acceptFormFunction()">
    <form [formGroup]="saveForm" (ngSubmit)="saveEntity()">

        <section>
            <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="icon">
                Nombre
            </label>
            <input
                class="appearance-none block w-full text-white border border-gray-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none bg-transparent"
                id="icon" type="text" formControlName="name">
        </section>

    </form>

</app-custom-modal>